* {
  box-sizing: border-box;
}

#minesweeper {
  font-family: monospace;
}

#minesweeper:hover {
  cursor: default;
}

.tile, .flagged-tile, .flagged-swept-tile, .flagged-swept-mine {
  font-family: monospace;
  font-size: 10px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  background-color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile:active {
  background-color: #CCC;
}

.tile:hover,
.flagged-tile:hover,
.flagged-swept-mine:hover,
.flagged-swept-tile:hover,
.swept-tile:hover,
.swept-mine:hover {
  cursor: default;
}

.swept-tile, .swept-mine {
  font-family: monospace;
  font-size: 10px;
  width: 16px;
  height: 16px;
  box-sizing: border-box;
  border-right: 1px solid #BBB;
  border-bottom: 1px solid #BBB;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #CCC;
}
.swept-mine, .flagged-swept-tile {
  background-color: red;
}

.flagged-swept-mine {
  background-color: green;
}

.swept-tile.m1 {
  color: blue;
}

.swept-tile.m2 {
  color: green;
}

.swept-tile.m3 {
  color: red;
}

.swept-tile.m4 {
  color: navy;
}

.swept-tile.m5 {
  color: maroon;
}

.swept-tile.m6 {
  color: teal;
}

.swept-tile.m7 {
  color: black;
}

.swept-tile.m8 {
  color: #AAA;
}


.board {
  display: flex;
  flex-wrap: wrap;
  margin: 10px auto 20px;
  overflow: hidden;
  border-top: 1px solid #BBB;
  border-left: 1px solid #BBB;
}

.control-panel {
  margin: 20px auto 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #EEE;
  height: 40px;
  padding: 0px 5px;
}

.control-panel div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 33%;
}

.game-container {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}