@import url('https://fonts.googleapis.com/css?family=VT323');

body {
  font-family: 'VT323', monospace;
}

h1 {
  text-align: center;
}

.catch-all {
  margin-top: 10rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: monospace;
}